#!/usr/bin/env bash

# init virtualbox vm:

# add host only network interface
# and nat interface
# fill variables below
# create viso in Storage
# mount vsio to vm
# run vm
# nex run commands:
# sudo -i
# mkdir -p /root/init
# mount /dev/sr0 /root/init
# cd /root/init
# ./init.sh cmd init_virtualbox_vm --config example-init-vitrualbox.env

export VIRTUALBOX_NAT_MAC="0800278B21B9"
export VIRTUALBOX_STATIC_MAC="080027B3530C"
export VIRTUALBOX_STATIC_IP="192.168.56.20"

