#!/usr/bin/env bash

# Disable pases:

# export DISABLE_REMOVE_UPGRADE=true
# export DISABLE_USERS=true
# export DISABLE_DOCKER=true
# export DISABLE_PREPARE_SSHD=true
# export DISABLE_HOSTNAME=true
# export DISABLE_GITLAB=true
# export DISABLE_GITLAB_REGISTER_RUNNER=true
# export DISABLE_WERF=true
# export DISABLE_FLINT=true
# export DISABLE_ALIASES=true

# Phase sshd

# export SSHD_PORT="887"

# Phase add users

# First user: no sudo no password no key
# export ADD_USER_0_NAME="nick"
# export ADD_USER_0_SUDO="true" 
# export ADD_USER_0_PASSWORD=""
# export ADD_USER_0_NO_PASSWORD="false"
# export ADD_USER_0_SSH_KEY="/root/.ssh/id_rsa.pub"

# socond user: sudo with password input no key
# export ADD_USER_1_NAME="second"
# export ADD_USER_1_SUDO="true" 
# export ADD_USER_1_PASSWORD=""
# export ADD_USER_1_NO_PASSWORD="false"
# export ADD_USER_1_SSH_KEY=""

# third user: sudo with password passed no input with key
# export ADD_USER_2_NAME="first"
# export ADD_USER_2_SUDO="false" 
# export ADD_USER_2_PASSWORD=""
# export ADD_USER_2_NO_PASSWORD="true"
# export ADD_USER_2_SSH_KEY=""

# Phase hostname

# export NEW_HOSTNAME="my-host"

# Phase gitlab_register

# export GITLAB_RUNNER_CONFIG="/root/gitlab-runner-conf.env"

# or export envs directly
# export GITLAB_RUNNER_URL="gitlab.example.com/aaaaa"
# export GITLAB_RUNNER_TOKEN="token"
# export GITLAB_RUNNER_DESC="my-runner"
# export GITLAB_RUNNER_TAGS="linux,docker,build"
