#!/usr/bin/env bash

# Disable pases:

# export DISABLE_USERS=true
# export DISABLE_DOCKER=true
# export DISABLE_PREPARE_SSHD=true
# export DISABLE_HOSTNAME=true
# export DISABLE_WERF=true
# export DISABLE_ALIASES=true
