#!/usr/bin/env bash

# init virtualbox vm:

# Create and run virtualbox vm
# run:
#   ./init.sh cmd virtualbox_init_vm --config example-init-vitrualbox.env
# This command:
# - add host only network interface
# - and nat interface
# - fill variables below
#  - create viso in Storage
# - mount vsio to vm
# - restart vm
# after restart vm, login in virtual machine
# run next commands:
#  sudo -i
#  mkdir -p /root/init
#  mount /dev/sr0 /root/init
#  cd /root/init
#  ./init.sh
# After it, allow cleanup files and unmount optical

export VIRTUALBOX_VM_NAME="ubuntu"
export VIRTUALBOX_SSH_KEY="${HOME}/.ssh/id_rsa.pub"
export VIRTUALBOX_ATTACH_ADDRESS="192.168.56.21"

